@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400&family=Fauna+One&display=swap');

header {
	position: sticky;
	top: 0;
	width: 100%;
	/* border-bottom: 1px solid #e19563; */
	color: black;
	font-family: 'Cinzel';
	box-shadow: 0 3px 2px -2px gray;
	/* z-index: 999px; */
}

header.main-scrolled {
	background-color: white;
	z-index: 1;
	/* transition-duration: 0.3s; */
}

.ant-typography {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 800;
	transition: 100ms;
	font-family: 'Cinzel';
	cursor: pointer;
}

.ant-typography:hover {
	font-size: 14px;
}
